#main-navbar {
  height: 60px;
  background-color: #f8f8f8;

  .navbar-brand {
    text-transform: uppercase;
    padding-left: 10px;
  }

  .container {
    flex-direction: row !important;
  }
}

.card-header {
}