/* Font */
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

/* Navbar */
#main-navbar {
  height: 60px;
  background-color: #f8f8f8;

  .navbar-brand {
    text-transform: uppercase;
    padding-left: 10px;
  }

  .container {
    flex-direction: row !important;
  }
}

/* MessageBox */
.rce-container-mbox {
  margin-bottom: 10px;
}

.rce-mbox-custom-right {
  .rce-mbox-left-notch {
    fill: #effdde !important;
  }

  .rce-mbox-right-notch {
    fill: #effdde !important;
  }

  .rce-mbox {
    background: #effdde !important;
  }

  .rce-mbox-body {
    background-color: #effdde;
  }
}

.rce-mbox-photo img {
  max-width: 50vw;
}

.rce-mbox-video video {
  max-width: 50vw;
}

.rce-mbox-audio audio {
  max-width: 50vw;
}

/* Sidebar */
@media (max-width: 768px) {
  .ps-sidebar-root:not(.ps-toggled) {
    left: calc(-80vw - 1px) !important;
  }
}

/* Error overlay */
iframe#webpack-dev-server-client-overlay {
  display: none;
}

